@model IndexViewModel
@{
    ViewData["Title"] = "Поиск пользователей";
}
<form method="get" asp-action="SearchUsers">
    <div class="form-inline form-group">
        <label class="col-form-label-lg" style="margin-right:5px">Login:</label>
        <input name="login"  value="@Model.FilterUsersViewModel.SelectLogin" min="1" class="form-group" style="border-radius: 10px 10px 10px 10px; width:70px" /> @*width*@
        <input type="submit" class="btn" value="&#128269;Поиск"
               style="background-color:darkorange;
              color: white; border-radius: 10px 10px 10px 10px;
             font-size:12px;
             margin-left:10px">
    </div>
    <table class="table">
        <tr>
            <td >
               <a> Login </a>
            </td>
        </tr>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td style="background-color: lightgray;  border-left-width:1px; border-color:dimgray;">
                    @item.Login
                </td>
                <td>
                    <a asp-action="ViewPosts" asp-controller="home" asp-route-id="@item.Id"
                       style="margin-left: 10px;background-color: greenyellow;border-radius: 10px 10px 10px 10px;"> &nbsp Подробнее &nbsp</a>                   
                </td>

            </tr>
        }
    </table>
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-route-page="@(Model.PageViewModel.PageNumber-1)"
           asp-route-sortOrder="Model.SortViewModel.Current"
           asp-route-id="Model.FilterViewModel.SelectId"
           asp-route-email="Model.FilterViewModel.SelectEmail" class="btn btn-outline-dark">Назад </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-route-page="@(Model.PageViewModel.PageNumber+1)"
           asp-route-sortOrder="Model.SortViewModel.Current"
           asp-route-id="Model.FilterViewModel.SelectId"
           asp-route-email="Model.FilterViewModel.SelectEmail" class="btn btn-outline-dark">Вперед</a>
    }
</form>